/*seccion index*/

.slide{
    margin-top: 0;

img{
    height: 95vh;
}
}

.titulo__index{
    @include flex (null,center,null);

h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: map-get($fuentes , size-tittle );
    letter-spacing: 6px;
    padding-top: 35px;
    color: $secondary;
    margin: 0;
}
}