/*Colores*/
$primary: black;
$secondary: white;
$text-color:antiquewhite;

/*fuentes*/
$font-title: 'Alegreya Sans', sans-serif;
$size-tittle: 2.8rem;


/*espaciados*/

$spacing-large: 4rem;
$spacing-medium:2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/*map*/
$fuentes:(
    size-tittle: 2.8rem,
    large:5.2em,
    medium: 2.2em,
    base: 1.6em,
    small: 1.1em)